{%extends "layout.html"%}
{%block contents%}

<div class="container  mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h3>このサイトについて</h3>
    <hr>

    <div class="panel-body">

        <h4>これはなに？</h4>
        <p>複数ユーザーに対応した短文投稿サイト、の形をした脆弱性調査のためのテストアプリケーションです。<br>
            <b>意図的/非意図的を問わず、脆弱性が存在しています。セキュリティが求められるいかなる場面でも使用しないでください</b>
        </p>
    </div>
</div>
{%endblock%}